<app-loader></app-loader>
<section class="contenedor">
<section class="contenedorIndex">
  <section class="index">
    <figure class="logoInicio">
      <img class="logoInicioImg" src="assets/img/logo-backlog.svg" alt="logo de backlog"/>
    </figure>
    <section class="sectionBtn">
      <a class="btn linkLogIn" routerLink="/login">Iniciar sesión</a>
      <a class="btn linkLogIn" routerLink="/register">Registrate</a>
    </section>
  </section>
</section>
  <section class="bienvenida">
    <p class="bienvenidaParrafo">Bienvenido a <b>< backlog ></b><br>
    Aquí podrás administrar y organizar tus tareas en diferentes tableros y compartirlos con
      quien quieras</p>
  </section>
</section>
